app = "upscrolling-app"
primary_region = "lhr"

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 512

[env]
  APP_ENV = "production"
  LOG_CHANNEL = "stderr"
  SESSION_DRIVER = "cookie"
  CACHE_DRIVER = "file"
