version: '3.8'

services:
  signaling-gateway:
    build: ../signaling-gateway
    ports:
      - "8080:8080"
    environment:
      - APP_KEY=${APP_KEY}
      - SFU_ENDPOINT=ws://sfu-server:8888
    depends_on:
      - sfu-server

  sfu-server:
    build: ../sfu-server
    ports:
      - "8888:8888"
      - "50000-50100:50000-50100/udp"
    environment:
      - PORT=8888
      - MIN_PORT=50000
      - MAX_PORT=50100
