app = "upscrolling-sfu"
primary_region = "lhr"

[build]

[http_service]
  internal_port = 8888
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 512

# UDP ports for WebRTC
[[services]]
  internal_port = 8888
  protocol = "udp"

  [[services.ports]]
    port = 50000-50100
